version: "2"
services:
  mail:
    image: analogic/poste.io
    ports:
      - "25:25"
      - "110:110"
      - "143:143"
      - "465:465"
      - "587:587"
      - "993:993"
      - "995:995"
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./data/:/data
    environment:
      - "HTTPS=OFF"
    labels:
      - "traefik.port=80"
      - "traefik.enable=true"
    restart: always
  backup:
    restart: always
    image: takethefake/s3backup
    environment:
      - "ACCESS_KEY={{ S3_ACCESS_KEY }}"
      - "SECRET_KEY={{ S3_SECRET_KEY }}"
      - "S3_PATH={{ S3_BACKUP_BUCKET }}/posteio/"
      - "REGION={{ S3_BACKUP_BUCKET_REGION }}"
      - "CRON_SCHEDULE = 0 12 * * *"
      - "ENCRYPTION_KEY={{ S3_BACKUP_BUCKET_ENCRYPTION_KEY }}"
    volumes:
      - ./data/:/data