version: "2"

services:
    nginx:
      labels:
        - "traefik.frontend.rule=Host:{{ NEXTCLOUD_ENDPOINT }}"
        - "traefik.frontend.entryPoints=http,https"
        - "traefik.port=80"
        - "traefik.enable=true"