version: '2'

services:
  postgresql:
    restart: always
    image: sameersbn/postgresql:9.6-2
    environment:
    - DB_USER=nextcloud
    - DB_PASS=password
    - DB_NAME=nextcloud_db
    labels:
    - "traefik.enable=false"
    volumes:
    - ./data/postgresql:/var/lib/postgresql

  nextcloud:
    restart: always
    image: sameersbn/nextcloud:11.0.1
    command: app:nextcloud
    environment:
    - DEBUG=false
    - TZ=Europe/Berlin

    - DB_TYPE=pgsql
    - DB_HOST=postgresql
    - DB_USER=nextcloud
    - DB_PASS=password
    - DB_NAME=nextcloud_db

    - NEXTCLOUD_URL=http://{{NEXTCLOUD_ENDPOINT}}

    - NEXTCLOUD_ADMIN_USER={{ NEXTCLOUD_ROOT_EMAIL }}
    - NEXTCLOUD_ADMIN_PASSWORD={{ NEXTCLOUD_ROOT_PASSWORD }}

    - NEXTCLOUD_UPLOAD_MAX_FILESIZE=4G
    - NEXTCLOUD_MAX_FILE_UPLOADS=20

    - NEXTCLOUD_BACKUPS_EXPIRY=0
    depends_on:
    - postgresql
    labels:
    - "traefik.enable=false"
    volumes:
    - ./data/nextcloud:/var/lib/nextcloud

  nginx:
    restart: always
    image: sameersbn/nextcloud:11.0.1
    command: app:nginx
    environment:
    - NEXTCLOUD_PHP_FPM_HOST=nextcloud
    - NEXTCLOUD_PHP_FPM_PORT=9000
    depends_on:
    - nextcloud
  backup:
    restart: always
    image: takethefake/s3backup
    environment:
      - "ACCESS_KEY={{S3_ACCESS_KEY}}"
      - "SECRET_KEY={{S3_SECRET_KEY}}"
      - "S3_PATH={{S3_BACKUP_BUCKET}}/nextcloud/"
      - "REGION={{S3_BACKUP_BUCKET_REGION}}"
      - "CRON_SCHEDULE = 0 12 * * *"
      - "ENCRYPTION_KEY={{S3_BACKUP_BUCKET_ENCRYPTION_KEY}}"
    volumes:
      - ./data/:/data
