version: "2"
services:
  software:
    restart: always
    image: cptactionhank/atlassian-jira-software:7.5.0
    labels:
      - "traefik.frontend.rule=Host:{{JIRA_ENDPOINT}}"
      - "traefik.port=8080"
      - "traefik.enable=true"
      - "traefik.frontend.entryPoints=https"
    links:
      - db
  db:
      image: mysql
      restart: always
      volumes:
          - "./data/db:/var/lib/mysql"
      environment:
          MYSQL_ROOT_PASSWORD: "jiraIsAReallyCoolTool2017!"
          MYSQL_DATABASE: "jira"
          MYSQL_USER: "jira"
          MYSQL_PASSWORD: "beingAJiraUserCanBeHard!2017"

