[entryPoints]
  [entryPoints.http]
  address = ":80"
    [entryPoints.http.redirect]
      entryPoint = "https"
  [entryPoints.https]
  address = ":443"
    [entryPoints.https.tls]
defaultEntryPoints = ["http", "https"]

[acme]
email = "hello@schulz.codes"
storage = "/etc/traefik/conf/acme.json"
entryPoint = "https"
{% for main in TRAEFIK_DOMAINS %}
[[acme.domains]]
  main = "{{ main.main }}"
  sans = [{%for sans in main.sans %}"{{sans}}.{{main.main}}"{% if not loop.last %},{%endif%}{% endfor %}]
{% endfor %}

[file]
watch = true
filename = "/etc/traefik/rules.toml"

[web]
address = ":8080"

[docker]
endpoint = "unix:///var/run/docker.sock"
domain = "docker.localhost"
watch = true
