version: "2"

services:
    gitlab:
      labels:
        - "traefik.frontend.rule=Host:{{ GITLAB_ENDPOINT }}"
        - "traefik.port=80"
        - "traefik.enable=true"
        - "traefik.frontend.entryPoints=http,https"
    registry:
      labels:
        - "traefik.frontend.rule=Host:{{ REGISTRY_ENDPOINT }}"
        - "traefik.port=5000"
        - "traefik.enable=true"
        - "traefik.frontend.entryPoints=http,https"
