version: '2'

services:
  redis:
    restart: always
    image: sameersbn/redis:latest
    command:
    - --loglevel warning
    volumes:
    - ./data/redis:/var/lib/redis:Z

  postgresql:
    restart: always
    image: sameersbn/postgresql:9.6-2
    volumes:
    - ./data/postgresql:/var/lib/postgresql:Z
    environment:
    - DB_USER=gitlab
    - DB_PASS=password
    - DB_NAME=gitlabhq_production
    - DB_EXTENSION=pg_trgm

  gitlab:
    restart: always
    image: sameersbn/gitlab:9.5.3
    volumes:
    - ./data/gitlab-data:/home/git/data:Z
    - ./data/gitlab-logs:/var/log/gitlab
    - ./data/certs:/certs
    depends_on:
    - redis
    - postgresql
    ports:
    - "2222:22"
    environment:
    - DEBUG=false

    - TZ={{ GITLAB_TZ }}
    - GITLAB_TIMEZONE={{ GITLAB_TIMEZONE }}

    - GITLAB_ROOT_PASSWORD={{ GITLAB_ROOT_PASSWORD }}
    - GITLAB_ROOT_EMAIL={{ GITLAB_ROOT_EMAIL }}

    - DB_ADAPTER=postgresql
    - DB_HOST=postgresql
    - DB_PORT=5432
    - DB_USER=gitlab
    - DB_PASS=password
    - DB_NAME=gitlabhq_production

    - REDIS_HOST=redis
    - REDIS_PORT=6379

    - GITLAB_HTTPS=true
    - SSL_SELF_SIGNED=true

    - GITLAB_HOST={{ GITLAB_ENDPOINT }}
    - GITLAB_PORT=
    - GITLAB_SSH_PORT=2222
    - GITLAB_RELATIVE_URL_ROOT=
    - GITLAB_SECRETS_DB_KEY_BASE=secret
    - GITLAB_SECRETS_SECRET_KEY_BASE=secret
    - GITLAB_SECRETS_OTP_KEY_BASE=secret

    - GITLAB_BACKUP_SCHEDULE=weekly
    - GITLAB_BACKUP_TIME=01:00
    - AWS_BACKUPS=true
    - AWS_BACKUP_REGION={{ S3_BACKUP_BUCKET_REGION }}
    - AWS_BACKUP_ACCESS_KEY_ID={{ S3_ACCESS_KEY}}
    - AWS_BACKUP_SECRET_ACCESS_KEY={{ S3_SECRET_KEY}}
    - AWS_BACKUP_BUCKET={{ GITLAB_S3_BACKUP_BUCKET}}

    - GITLAB_REGISTRY_ENABLED=true
    - GITLAB_REGISTRY_HOST={{REGISTRY_ENDPOINT}}
    - GITLAB_REGISTRY_PORT=
    - GITLAB_REGISTRY_API_URL=https://{{REGISTRY_ENDPOINT}}
    - GITLAB_REGISTRY_CERT_PATH=/certs/registry-auth.crt
    - GITLAB_REGISTRY_KEY_PATH=/certs/registry-auth.key

  registry:
    restart: always
    image: registry:2.4.1
    ports:
    - "5000:5000"
    volumes:
    - ./data/registry-data:/var/lib/registry
    - ./data/certs:/certs
    environment:
    - VIRTUAL_HOST={{REGISTRY_ENDPOINT}}
    - VIRTUAL_PORT=5000
    - REGISTRY_LOG_LEVEL=info
    - REGISTRY_STORAGE_FILESYSTEM_ROOTDIRECTORY=/var/lib/registry
    - REGISTRY_AUTH_TOKEN_REALM=https://{{GITLAB_ENDPOINT}}/jwt/auth
    - REGISTRY_AUTH_TOKEN_SERVICE=container_registry
    - REGISTRY_AUTH_TOKEN_ISSUER=gitlab-issuer
    - REGISTRY_STORAGE_DELETE_ENABLED=true
    - REGISTRY_AUTH_TOKEN_ROOTCERTBUNDLE=/certs/registry-auth.crt
